<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  <carousel class="text-center">

    <slide>
      <img class="img-main-carousel" src="assets/images/flowers/4.jpg" alt="First slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/images/flowers/5.jpg" alt="Second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/images/flowers/6.jpg" alt="Third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>
</div>
</div>
<!--<div class="row">
  <div class="col-sm-6 col-sm-offset-2">
    <carousel>
      <slide>
        <img src="assets/images/flowers/1.jpg" alt="First slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <p>“ Vivamus cursus at est in gravida. Phasellus semper est quis tellus viverra consectetur eget sed leo. Quisque consectetur tempor cursus. Nullam ut mauris fermentum, pretium risus id, tincidunt ante. ”</p>
          <h4>George Rich</h4>
          <span>Web Designer</span>
        </div>
      </slide>
      <slide>
        <img src="assets/images/flowers/2.jpg" alt="Second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <p>“ Phasellus orci nisi, varius sed lacinia et, pulvinar quis est. Curabitur a tincidunt tortor. Cras rhoncus sodales massa sagittis malesuada. Nulla maximus vitae lorem vel elementum. ”</p>
          <h4>John Henry</h4>
          <span>New Manager</span>
        </div>
      </slide>
      <slide>
        <img src="assets/images/flowers/3.jpg" alt="Third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <p>“ Phasellus aliquam finibus est, id tincidunt mauris fermentum a. In elementum diam et dui congue, ultrices bibendum mi lacinia. Aliquam lobortis dapibus nunc, nec tempus odio posuere quis. ”</p>
          <h4>Danny Cute</h4>
          <span>CEO Founder</span>
        </div>
      </slide>
      <slide>
        <img src="assets/images/flowers/4.jpg" alt="Third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <p>“ Quisque ut ligula venenatis, euismod risus vel, consequat lacus. In ut purus id felis euismod cursus. Praesent in pulvinar arcu, vitae hendrerit lectus. Quisque a urna magna. ”</p>
          <h4>Richard Beal</h4>
          <span>CSS Developer</span>
        </div>
      </slide>
    </carousel>
  </div>
</div>-->
